In [206]:
import pandas as pd
import numpy as np
data = "C:/Users/edenh/OneDrive/Desktop/pandas assignmenet/purchase_data.csv"
newfile_df = pd.read_csv(data)

In [207]:
# read the purchesing file
newfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
#player count
total_players = newfile_df["SN"].nunique()
total_players

print(" Player Count")
print("Total Number of Players :" + str(total_players))
playerscount = pd.DataFrame({"Total Players":[total_players]})
playerscount

 Player Count
Total Number of Players :576

   Total Players
0            576

In [209]:
#purchasing analiysis
unique_items = newfile_df['Item Name'].count()

In [210]:
# avarage price
avg_price = newfile_df['Price'].mean()

In [211]:
# purchases
total_purchases = newfile_df['Price'].count()

In [212]:
# total reve
total_revenue = newfile_df['Price'].sum()

In [213]:
purchase_analysis = {
    'unique_items': [newfile_df['Item Name'].count()],
    'avg_price': [newfile_df['Price'].mean()],
    'total_purchases': [newfile_df['Price'].count()],
    'total_revenue': [newfile_df['Price'].sum()]}

In [214]:
purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   unique_items  avg_price  total_purchases  total_revenue
0           780   3.050987              780        2379.77

In [215]:
# Gender demograpics

# percentage and count of male players
other_players=newfile_df.loc[newfile_df["Gender"] =="Male"]
male_players = len(other_players)
male_players

male_player_perc = male_players / total_players * 100
male_player_perc

113.19444444444444

In [216]:
# percentage and count of female players
other_players=newfile_df.loc[newfile_df["Gender"] =="Female"]
female_players = len(other_players)
female_players

female_player_perc = female_players / total_players * 100
female_player_perc

19.618055555555554

In [217]:
# count of other players
other_players =newfile_df.loc[newfile_df["Gender"]== "Other / Non-Disclosed"]
other_players = len(other_players)
other_players

15

In [218]:
other_players_perc = other_players / total_players * 100
other_players_perc

2.604166666666667

In [219]:
gender_data = pd.DataFrame({
        "Percentage of Players":[male_player_perc,female_player_perc,other_players_perc],
    "Total Count":[male_players,female_players, other_players],
                  "Category":["Male", "Female", "Other/Non-Disclosed"]
}).round(2)
gender_data_arrange =gender_data.set_index("Category")
gender_data_arrange.head()

                     Percentage of Players  Total Count
Category
Male                                113.19          652
Female                               19.62          113
Other/Non-Disclosed                   2.60           15

In [220]:
#purchasing analysis(gender)

male_purchase = newfile_df.loc[newfile_df["Gender"] == "Male"]["Price"].count()
female_purchase = newfile_df.loc[newfile_df["Gender"] == "Female"]["Price"].count()
other_purchase = total_purchases - male_purchase - female_purchase

In [221]:
# the average price of each gender
male_price_avg = newfile_df.loc[newfile_df["Gender"] == "Male"]['Price'].mean()
female_price_avg = newfile_df.loc[newfile_df["Gender"] == "Female"]['Price'].mean()
others_price_avg = newfile_df.loc[newfile_df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

In [222]:
# the total price 
male_price_total = newfile_df.loc[newfile_df["Gender"] == "Male"]['Price'].sum()
female_price_total = newfile_df.loc[newfile_df["Gender"] == "Female"]['Price'].sum()
others_price_total = newfile_df.loc[newfile_df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

In [223]:
# normalizing male/ female and other players
male_norm = male_price_total/male_players
female_norm = female_price_total/female_players
other_norm = others_price_total/other_players

In [224]:
# total  purchase value, normalized totals,avg price and purchase count is here.
gender_data = pd.DataFrame({"Gender":["Male","Female", "Other / Non-Disclosed"], "Purchase Count":[male_purchase, female_purchase, other_purchase],
    "Average Purchase Price": [male_price_avg, female_price_avg, others_price_avg], 
    "Total Purchase Value": [male_price_total, female_price_total, others_price_total],
    "Normalized Totals": [male_norm, female_norm, other_norm]},
    columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])

gender_data_arrange = gender_data.set_index("Gender")
gender_data_arrange.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}", "Normalized Totals":"${:.2f}"})

In [225]:
#Age Demographics

bins = [0, 9, 14, 19, 24,29,34,39,100] #list of bins
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+'] #grouping bins
pd.cut(newfile_df["Age"], bins, labels=group_names)
newfile_df["Age Group"] = pd.cut(newfile_df["Age"], bins, labels=group_names)

grouping_SN_age = newfile_df.groupby(["SN","Age Group"])

unique_payers_df = pd.DataFrame(grouping_SN_age.size())
#print(unique_payers_df)
agegroup_df = pd.DataFrame(unique_payers_df.groupby(["Age Group"]).count())
agegroup_df.columns= ["Total Count"]
agegroup_df["Percentage of Players"] =round(100 *agegroup_df["Total Count"]/agegroup_df["Total Count"].sum(),2)

agegroup_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

In [226]:
#Here are the top Spenders

#SN
SN = newfile_df.groupby(newfile_df["SN"])
SN_Name = SN["SN"].unique()

#Here are Purchase Counts
SN_Count = SN['Age'].count()

#Here average Purchase Prices
SN_Avg = round(SN['Price'].mean(),2)

#Total Purchase Value
SNTotal = SN['Price'].sum()


TopSpend = {"SN":SN_Name,"Purchase Count":SNCount,
                 "Average Purchase Price":SN_Avg,"Total Purchase Value":SNTotal}
TopSpend1= pd.DataFrame(TopSpend)
TopSpend1= TopSpend1.set_index('SN')
TopSpend1 = TopSpend1.sort_values("Total Purchase Value",ascending=False)
TopSpend1 = TopSpend1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

TopSpend1.iloc[:5]

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                 5                    3.79                 18.96
[Idastidru52]               4                    3.86                 15.45
[Chamjask73]                3                    4.61                 13.83
[Iral74]                    4                    3.40                 13.62
[Iskadarya95]               3                    4.37                 13.10

In [227]:
#We are gonna find purchase count, total purchase value for items by merging dataframes
# indexs to dataframes would be be merged on as follows
pre_merge_one = newfile_df.groupby("Item Name").sum().reset_index()
pre_merge_two = newfile_df.groupby("Item ID").sum().reset_index()
pre_merge_three = newfile_df.groupby("Item Name").count().reset_index()

#merging  dataframes here
merge_one = pd.merge(pre_merge_one, pre_merge_two, on="Price")
merge_two = pd.merge(pre_merge_three, merge_one, on="Item Name")

# manipulating data and start to create final dataframe
merge_two["Gender"] = (merge_two["Price_y"]/merge_two["Item ID"]).round(2)

merge_two_renamed = merge_two.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#bring  columns we are looking for
clean_df = merge_two_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [228]:
 #To find most profitable items we can use the previous prefinal_df
profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})